.nowPlaying {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.trackInfo {
  display: flex;
  flex-direction: column;
}
.imgContainer {
  border-radius: 5px;
  overflow: hidden;
  height: 32px;
}
.trackImg {
  height: 100%;
}
.artist {
  font-size: 12px;
  font-weight: bolder;
  color: var(--secondary-text-color);
}
.title {
  font-size: 16px;
  font-weight: bolder;
}
