.player {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid black;
  background-color: #303030;
  gap: 20px;
}
.skip-icon {
  transition:
    stroke 0.1s,
    fill 0.1s;
  &:hover {
    stroke: #838383;
    fill: #838383;
  }
}

.play-control {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  min-width: 120px;
}
.skip {
  background: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    fill: gray;
  }
}
.play {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  svg {
    path {
      fill: #303030;
    }
    display: block;
    margin: 0px;
  }
}
