.popupWindow {
  bottom: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  z-index: 1000;
  height: 150px;
  width: 48px;
  padding: 10px;
}
