.volumeContainer {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 4px;
}

.volumeButton {
  width: 30px;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
}
