.timeline-progress {
  background-color: rgb(1, 182, 1);
  height: 100%;
  width: 33%;
}

.playback-timepassed {
  font-size: 12px;
  font-weight: bold;
}
.playback-duration {
  @extend .playback-timepassed;
}

.playback {
  display: flex;
}
