.header {
  display: flex;
  padding: 0px 24px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
}
.search {
  display: flex;
  align-items: center;
  width: 350px;
  height: 40px;
  background-color: #323232;
  border-radius: 5px;
  overflow: hidden;
}
.search-input {
  padding-left: 20px;
  height: 100%;
  flex: 1;
  outline: none;
  border: none;
  background: transparent;
}
.search-button {
  height: 100%;
  width: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.search-button img {
  filter: invert(1);
  width: 18px;
  height: 18px;
}
